@model HomePageAnimesModel

@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            @foreach (var anime in Model.TopRatedAnimes)
            {
                <div class="hero__items set-bg" data-setbg='@anime.ImageURL'>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Action</div>
                                <h2 class="font-weight-bold text-truncate text-warning">@anime.NameJPN@(anime.NameEN == null ? "" : " / " + anime.NameEN)</h2>
                                <p class="font-weight-bold text-truncate text-warning">@anime.Description</p>
                                <a asp-controller="Anime" asp-action="Details" asp-route-id="@anime.Id"><span>View More</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Trending Now</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a asp-controller="Anime" asp-action="All" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
            <partial name="~/Views/Anime/_ListingAnimesPartial.cshtml" model="@Model.Animes" />
                    </div>
                </div>
            </div>
            <partial name="~/Views/Anime/_AnimeTopViewsPartial.cshtml" model="@Model.TopViewsAnimes" />
        </div>
    </div>
</section>
