@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model AnimeDetailsViewModel

@{ var finishDate = string.Empty;

    if (Model.Anime.Finished == null && Model.Anime.Epizodes != 1)
    {
        finishDate = "to ?";
    }
    else if (Model.Anime.Finished != null)
    {
        finishDate = "to " + Model.Anime.Finished.Value.ToShortDateString();
    } }
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg='@Model.Anime.ImageURL'>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>@Model.Anime.NameJPN</h3>
                            @if (Model.Anime.NameEN != null)
                            {
                <span>@Model.Anime.NameEN</span>}
                        </div>
                        <div class="anime__details__rating">
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                            </div>
                            <span>1.029 Votes</span>
                        </div>
                        <p>@Model.Anime.Description</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Type:</span>@Model.Anime.TypeName</li>
                                        <li><span>Producers:</span>@string.Join(", ", Model.Anime.Producers)</li>
                                        <li><span>Date aired:</span>@Model.Anime.Aired.ToShortDateString() @finishDate</li>
                                        <li><span>Epizodes:</span>@Model.Anime.Epizodes</li>
                                        <li><span>Genre:</span>@string.Join(", ", Model.Anime.Genres)</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Rating:</span> 8.5 / 161 times</li>
                                        <li><span>Views:</span>@Model.Anime.Views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
                            <a asp-controller="Anime" asp-action="Watch" asp-route-id="@Model.Anime.Id" class="watch-btn">
                                <span>Watch Trailer</span> <i class="fa fa-angle-right"></i>
                            </a>
                        </div>s
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Reviews</h5>
                    </div>
                    @foreach (var comment in Model.Comments)
                    {
        <div class="anime__review__item">
            <div class="anime__review__item__pic">
                <img src="@comment.UserImageURL" alt="">
            </div>
            <div class="anime__review__item__text">
                <h6>@comment.UserName - <span>1 Hour ago</span></h6>
                <p>
                    @comment.Content
                </p>
            </div>
        </div>}
                </div>
                @if (this.SignInManager.IsSignedIn(this.User))
                {
    <div class="anime__details__form">
        <div class="section-title">
            <h5>Your Comment</h5>
        </div>
        <form method="post" asp-controller="Comment" asp-action="Create">
            <textarea name="Content" id="Content" placeholder="Your Comment"></textarea>
            <input value="@Model.Anime.Id" name="AnimeId" id="AnimeId" style="display:none" />
            <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
        </form>
    </div>}
else
{
<h5 style="color:#ffffff">To write comments first <a asp-area="Identity" asp-page="/Account/Login">LogIn.</a></h5>}
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="anime__details__sidebar">
                    <div class="section-title">
                        <h5>you might like...</h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-1.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Boruto: Naruto next generations</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-2.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-3.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-4.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


